.container {
  margin: 1.5rem auto 0;
}

.all-todos {
  display: flex;
  max-width: 50rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.one-todo {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 0.75rem;
}

.btn {
  width: 6rem;
  margin: 0.5rem auto 0;
}

h2 {
  text-decoration: underline;
}

.complete {
  display: flex;
  margin: 0 auto;
}

.complete > input {
  margin-left: 0.5rem;
}

.is-complete {
  text-decoration: line-through;
}