html {
  min-height: 100vh;
}

body {
  background: url('./assets/whitboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightgray;
  background-position: center center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.App {
  text-align: center;
}