body {
  background: url('./assets/whitboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightgray;
  background-position: center center;
  max-height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}